<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nafton - NFT Portfolio HTML Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Preloader -->




    <!-- header-start -->
    <header class="site-header site-header--menu-right landing-1-menu site-header--absolute site-header--sticky">
        <div class="container">
            <nav class="navbar site-navbar">
                <!-- Brand Logo-->
                <div class="brand-logo">
                    <a href="#">
                        <img src="img/logo2.png" alt="" class="dark-version-logo">
                    </a>
                </div>
                <div class="menu-block-wrapper">
                    <div class="menu-overlay"></div>
                    <nav class="menu-block" id="append-menu-header">
                        <div class="mobile-menu-head">
                            <div class="go-back">
                                <i class="fa fa-angle-left"></i>
                            </div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close">&times;</div>
                        </div>
                        <ul class="site-menu-main">
                            <li class="nav-item nav-item-has-children">
                               <!-- <a href="#" class="nav-link-item drop-trigger">Home <i class="fas fa-angle-down"></i> -->
                                </a>
                                <ul class="sub-menu" id="submenu-9">
                                    <li class="sub-menu--item">
                                        <a href="index.html">Home- 1</a>
                                    </li>
                                    <li class="sub-menu--item">
                                        <a href="index-2.html">Home- 2</a>
                                    </li>
                                </ul>
                            </li>
                       
                          
                         

                            <li class="nav-link-item"><button type="button" class="sign-btn" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@mdo"><img
                                        src="" alt=""> </button></li>
                        </ul>
                    </nav>
                </div>
                <!-- mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
            </nav>
        </div>
    </header>
    <!-- header-end -->

    <!-- Welcome-area-start -->
    <div class="welcome-area home-2 bg-overlay-3 bg-img" style="background-image: url(img/bg-img/h-shape.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-7">
                    <div class="welcome-content home-2">
                        <h3>Overcome Racial Bias With <span>Unity Vision</span></h3>
                        <p> Our app directly addresses facial recognition biases by empowering African Americans to contribute to the training of equitable, unbiased AI models.</p>
                     
                    </div>
                </div>

                <!-- Slider Area -->
                <div class="col-md-5">
                    <!-- Swiper -->
                    <div class="swiper mySwiper2">
                        <div class="swiper-wrapper text-center">
                            <div class="swiper-slide">
                                <img src="img/approach2.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="img/approach2.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="img/approach2.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="img/approach2.png" alt="" />
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Welcome-area-end -->



    <!-- About us Area -->
    <div class="about-us-area bg-color-cu section-padding-100-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="about-image-area text-center mb-50">
                        <div class="about-feature-img welcome-thumb">
                            <img src="img/2.png" alt="">
                        </div>
                        <div class="about-image-2">
                            <img src="img/2.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- Text -->
                <div class="col-md-6">
                    <div class="about-content-text pb-50">
                        <h2>The Problem</h2>

                        <p class="mb-0">Facial recognition technology exhibits bias, particularly in accurately identifying African American individuals, leading to higher rates of false positives and negatives. This issue, rooted in non-diverse training datasets, raises concerns about fairness and discrimination, undermining trust in its universality and effectiveness.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About us Area -->

        


    <!-- Collection Area  -->
    <div class="live-auctions-area section-padding-100-50 bg-overlay-2 bg-img"
        style="background-image: url(img/bg-img/bg-shape.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading Title -->
                <div class="col-12 text-center">
                    <h6 class="heading-sub">Bias</h6>
                    <h2 class="heading-title">Victims</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Card -->
                <div class="col-sm-6 col-lg-4">
                    <div class="single-live-auction home-2">
                        <div class="auction-thumb home-2">
                            <img src="img/Robert_Williams.jpeg" alt="Image" />
                        </div>

                        <!-- Single Content -->
                        <div class="collection-text home-2 text-center">
                            <a href="#">Robert Williams</a>
                            <p>20% of the part</p>
                        </div>
                    </div>
                </div>

                <!-- Single Card -->
                <div class="col-sm-6 col-lg-4">
                    <div class="single-live-auction home-2">
                        <div class="auction-thumb home-2">
                            <img src="img/michael-oliver.jpeg" alt="Image" />
                        </div>

                        <!-- Single Content -->
                        <div class="collection-text home-2 text-center">
                            <a href="#">Michael Oliver</a>
                            <p>40% of the part</p>
                        </div>
                    </div>
                </div>

                <!-- Single Card -->
                <div class="col-sm-6 col-lg-4">
                    <div class="single-live-auction home-2">
                        <div class="auction-thumb home-2">
                            <img src="img/4.png" alt="Image" />
                        </div>

                        <!-- Single Content -->
                        <div class="collection-text home-2 text-center">
                            <a href="#">Harvey Murphy</a>
                            <p>20% of the part</p>
                        </div>
                    </div>
                </div>

                <!-- Single Card -->
                <div class="col-sm-6 col-lg-4">
                    <div class="single-live-auction home-2">
                        <div class="auction-thumb home-2">
                            <img src="img/ousmane.png" alt="Image" />
                        </div>

                        <!-- Single Content -->
                        <div class="collection-text home-2 text-center">
                            <a href="#">Ousmane bah</a>
                            <p>20% of the part</p>
                        </div>
                    </div>
                </div>

                <!-- Single Card -->
                <div class="col-sm-6 col-lg-4">
                    <div class="single-live-auction home-2">
                        <div class="auction-thumb home-2">
                            <img src="img/Porcha-Woodruff.png" alt="Image" />
                        </div>

                        <!-- Single Content -->
                        <div class="collection-text home-2 text-center">
                            <a href="#">Porcha Woodruff</a>
                            <p>20% of the part</p>
                        </div>
                    </div>
                </div>
                <!-- Single Card -->
                <div class="col-sm-6 col-lg-4">
                    <div class="single-live-auction home-2">
                        <div class="auction-thumb home-2">
                            <img src="img/Nijeer_Parks.jpeg" alt="Image" />
                        </div>

                        <!-- Single Content -->
                        <div class="collection-text home-2 text-center">
                            <a href="#">Nijeer Parks</a>
                            <p>20% of the part</p>
                        </div>
                    </div>
                </div>



                <!-- Button -->
               
            </div>
        </div>
    </div>
    <!-- Collection Area  -->


    <!-- Wallet Area -->
    <div class="wallet-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <!-- Heading Title -->
                <div class="col-12 text-center">
                    <h6 class="heading-sub">Understanding the Model</h6>
                    <h2 class="heading-title">Pipeline</h2>
                </div>
            </div>

            <div class="row">
                <!-- Single Wallet Area -->
                <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="800">
                    <div class="single-wallet-area two">
                        <!-- Image -->
                        <div class="wallet-image">
                            <img src="img/icon-img/16.png" alt="">
                        </div>

                        <!-- Content text -->
                        <div class="wallet-content-text">
                            <h4><a href="#">Data Collection </a></h4>
                            <p>Gather a diverse dataset of facial images.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Wallet Area -->
                <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000">
                    <div class="single-wallet-area two">
                        <!-- Image -->
                        <div class="wallet-image">
                            <img src="img/icon-img/17.png" alt="">
                        </div>

                        <!-- Content text -->
                        <div class="wallet-content-text">
                            <h4><a href="#">Data PreProcessing</a></h4>
                            <p>Clean, resize, normalize, and augment the dataset.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Wallet Area -->
                <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1200">
                    <div class="single-wallet-area two">
                        <!-- Image -->
                        <div class="wallet-image">
                            <img src="img/icon-img/18.png" alt="">
                        </div>

                        <!-- Content text -->
                        <div class="wallet-content-text">
                            <h4><a href="#">Feature Extraction</a></h4>
                            <p>Extract meaningful facial features.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Wallet Area -->
                <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1400">
                    <div class="single-wallet-area two">
                        <!-- Image -->
                        <div class="wallet-image">
                            <img src="img/icon-img/19.png" alt="">
                        </div>

                        <!-- Content text -->
                        <div class="wallet-content-text">
                            <h4><a href="#">Model Selection</a></h4>
                            <p>Choose a facial recognition model.</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- Single Wallet Area -->
                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="800">
                        <div class="single-wallet-area two">
                            <!-- Image -->
                            <div class="wallet-image">
                                <img src="img/icon-img/16.png" alt="">
                            </div>
    
                            <!-- Content text -->
                            <div class="wallet-content-text">
                                <h4><a href="#">Model Training</a></h4>
                                <p>Train the model on labeled data.</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Wallet Area -->
                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000">
                        <div class="single-wallet-area two">
                            <!-- Image -->
                            <div class="wallet-image">
                                <img src="img/icon-img/17.png" alt="">
                            </div>
    
                            <!-- Content text -->
                            <div class="wallet-content-text">
                                <h4><a href="#">Validation and Tuning</a></h4>
                                <p>Fine-tune model hyperparameters.</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Wallet Area -->
                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-wallet-area two">
                            <!-- Image -->
                            <div class="wallet-image">
                                <img src="img/icon-img/18.png" alt="">
                            </div>
    
                            <!-- Content text -->
                            <div class="wallet-content-text">
                                <h4><a href="#">Face Detection</a></h4>
                                <p>Detect faces within images or video frames.</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Wallet Area -->
                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1400">
                        <div class="single-wallet-area two">
                            <!-- Image -->
                            <div class="wallet-image">
                                <img src="img/icon-img/19.png" alt="">
                            </div>
    
                            <!-- Content text -->
                            <div class="wallet-content-text">
                                <h4><a href="#">Thresholding</a></h4>
                                <p>Allows us to set specific criteria or metrics to determine whether a recognition match is accepted or rejected.</p>
                            </div>
                        </div>
                    </div>


    <!-- About us Area -->
    <div class="about-us-area bg-color-cu section-padding-100-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="about-image-area text-center mb-50">
                        <div class="about-feature-img welcome-thumb">
                            <img src="img/approach.png" alt="">
                        </div>
                        <div class="about-image-2">
                            <img src="img/approach2.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- Text -->
                <div class="col-md-6">
                    <div class="about-content-text pb-50">
                        <h2>Our Approach</h2>

                        <p class="mb-0">Our the model is initially trained on a broad dataset, and then, our dataset is introduced during the fine-tuning process. This step enables the model to learn and adapt to the unique features and characteristics of African American faces.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About us Area -->
   

    <!-- Roadmap Area -->
    <div class="road-map-area section-padding-100-50 bg-overlay-2 bg-img"
        style="background-image: url(img/bg-img/bg-shape.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading Title -->
                <div class="col-12 text-center">
                    <h6 class="heading-sub">Our Faces!??</h6>
                    <h2 class="heading-title">Why Trust Us?</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Timeline -->
                <div class="col-md-6">
                    <div class="single-road-map-item two mb-50">
                        <div class="single-roadmap">
                            <div class="rodmap-title">
                                <h4>Commitment to Data Security:</h4>
                                <p></p>
                            </div>
                            <div class="rodmap-content-text">
                                <p>our unwavering commitment to using the safest, state-of-the-art technology. Notably, we incorporate systems that are built on iOS platforms, renowned for their stringent security measures and privacy protocols. iOS's robust security features, including end-to-end encryption and secure enclave for facial data, ensure that personal information is protected against unauthorized access and breaches. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Timeline -->
                <div class="col-md-6">
                    <div class="single-road-map-item two mb-50">
                        <div class="single-roadmap">
                            <div class="rodmap-title">
                                <h4>Transparent and Ethical Use of Data: </h4>
                                <p></p>
                            </div>
                            <div class="rodmap-content-text">
                                <p>Transparency in how we collect, use, and store facial data is another cornerstone of our approach, fostering trust within the African American community. We operate with a clear ethical framework that prioritizes consent and the right to privacy, ensuring individuals are fully informed and in control of their data.</p>
                            </div>
                        </div>
                    </div>
                </div>

              

            </div>
        </div>
    </div>
    <!-- Roadmap -->

    <div class="explore-area bg-color-cu section-padding-100-50">
        <div class="container-fluid">
            <div class="row">
                <!-- Heading Title -->
                <div class="col-12 text-center">
                    <h6 class="heading-sub">iOS Demo</h6>
                    <h2 class="heading-title">Explore All</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Phone Container -->
                    <div class="phone-mockup">
                        <video class="demo-video" autoplay loop muted playsinline>
                            <source src="img/Simulator_Screen_Recording_-_iPhone_15_Pro_-_2024-02-04_at_10.04.27.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Explore Area -->

    <!-- Client Area -->
 

           

            <!-- Mobile Version Only -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="client-slider mobile">
                        <div class="swiper mySwiper4">
                            <div class="swiper-wrapper">
                                <!-- Single Slider -->
                                <div class="swiper-slide client">
                                    <div class="client-img">
                                        <img src="img/clients/1.jpg" alt="">
                                    </div>

                                    <div class="clinet-text">
                                        <p>Ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis at dicta
                                            debitis illum, veritatis repellendus maiores reiciendis consequatur suscipit
                                            dignissimos!</p>
                                        <h5>Ajoy Das</h5>
                                        <span>Developer</span>

                                        <div class="client-shape">
                                            <img src="img/icon-img/4.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Slider -->
                                <div class="swiper-slide client">
                                    <div class="client-img">
                                        <img src="img/clients/2.jpg" alt="">
                                    </div>

                                    <div class="clinet-text">
                                        <p>Ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis at dicta
                                            debitis illum, veritatis repellendus maiores reiciendis consequatur suscipit
                                            dignissimos!</p>
                                        <h5>Litaf Jhon</h5>
                                        <span>Developer</span>

                                        <div class="client-shape">
                                            <img src="img/icon-img/4.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Slider -->
                                <div class="swiper-slide client">
                                    <div class="client-img">
                                        <img src="img/clients/4.jpg" alt="">
                                    </div>

                                    <div class="clinet-text">
                                        <p>Ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis at dicta
                                            debitis illum, veritatis repellendus maiores reiciendis consequatur suscipit
                                            dignissimos!</p>
                                        <h5>Ajoy Das</h5>
                                        <span>Developer</span>

                                        <div class="client-shape">
                                            <img src="img/icon-img/4.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Slider -->
                                <div class="swiper-slide client">
                                    <div class="client-img">
                                        <img src="img/clients/2.jpg" alt="">
                                    </div>

                                    <div class="clinet-text">
                                        <p>Ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis at dicta
                                            debitis illum, veritatis repellendus maiores reiciendis consequatur suscipit
                                            dignissimos!</p>
                                        <h5>Ajoy Das</h5>
                                        <span>Developer</span>

                                        <div class="client-shape">
                                            <img src="img/icon-img/4.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Slider -->
                                <div class="swiper-slide client">
                                    <div class="client-img">
                                        <img src="img/clients/1.jpg" alt="">
                                    </div>

                                    <div class="clinet-text">
                                        <p>Ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis at dicta
                                            debitis illum, veritatis repellendus maiores reiciendis consequatur suscipit
                                            dignissimos!</p>
                                        <h5>Ajoy Das</h5>
                                        <span>Developer</span>

                                        <div class="client-shape">
                                            <img src="img/icon-img/4.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Slider -->
                                <div class="swiper-slide client">
                                    <div class="client-img">
                                        <img src="img/clients/2.jpg" alt="">
                                    </div>

                                    <div class="clinet-text">
                                        <p>Ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis at dicta
                                            debitis illum, veritatis repellendus maiores reiciendis consequatur suscipit
                                            dignissimos!</p>
                                        <h5>Ajoy Das</h5>
                                        <span>Developer</span>

                                        <div class="client-shape">
                                            <img src="img/icon-img/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Client Area -->



    <!-- Top Seller Area  -->
    <div class="top-seller-area  bg-img bg-overlay  bg-fixed section-padding-100"
        style="background-image: url(img/bg-img/bg-shape.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading Title -->
                <div class="col-12 text-center">
                    <h6 class="heading-sub">Lets</h6>
                    <h2 class="heading-title">Make a difference</h2>
                </div>
            </div>

           

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Seller Area  -->

    <!-- Blog Area -->
    <div class="blog-area section-padding-100-50 bg-color-cu">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="blog-area-text mb-50">
                        <span>What can we do next?</span>
                        <h2>Educate oureselves</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odit explicabo sed? Ab
                            voluptates illum corporis illo tenetur maiores fuga.</p>
                        <div class="btn-area">
                            <a class="btn btn-box" href="blog-grid.html">View All</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="row">
                        <!-- Single Blog grid -->
                        <div class="col-sm-6">
                            <div class="single-blog-grid mb-50">
                                <!-- Image -->
                                <div class="grid-image">
                                    <img src="img/blog/3.jpg" alt="">
                                </div>

                                <!-- Text -->
                                <div class="blog-grid-text">
                                    <h3><a href="https://www.theregister.com/2019/05/22/congress_facial_recognition/">Congress testimony on facial recognition </a></h3>
                                    <p>We listened to more than 3 hours of US Congress testimony on facial recognition so you didn't have to go through it.</p>
                                </div>

                               
                            </div>
                        </div>

                        <!-- Single Blog grid -->
                        <div class="col-sm-6">
                            <div class="single-blog-grid mb-50">
                                <!-- Image -->
                                <div class="grid-image">
                                    <img src="img/blog/4.jpg" alt="">
                                </div>

                                <!-- Text -->
                                <div class="blog-grid-text">
                                    <h3><a href="https://youtube.com/watch?v=UG_X_7g63rY&si=ogFJzpeoE7qJcD6k">How I'm fighting bias in algorithms</a></h3>
                                    <p>MIT grad student Joy Buolamwini was working with facial analysis software when she noticed a problem: the software didn't detect her face -- because the people who coded the algorithm hadn't taught it to identify a broad range of skin tones and facial structures.</p>
                                </div>

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Blog Area -->

    <!-- Footer Contact Area -->
    <div class="footer-contact-area bg-img bg-overlay  bg-fixed section-padding-100"
        style="background-image: url(img/bg-img/bg-shape.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="partner-slider owl-carousel mb-100">
                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/16.png" alt="Image" />
                            </div>
                        </div>
                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/17.png" alt="Image" />
                            </div>
                        </div>

                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/18.png" alt="Image" />
                            </div>
                        </div>

                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/19.png" alt="Image" />
                            </div>
                        </div>

                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/20.png" alt="Image" />
                            </div>
                        </div>

                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/21.png" alt="Image" />
                            </div>
                        </div>

                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/17.png" alt="Image" />
                            </div>
                        </div>

                        <!-- Single Slider -->
                        <div class="single-slider">
                            <div class="parnet-img">
                                <img src="img/icon-img/19.png" alt="Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-center">
                <!-- Footer Widget -->
                <div class="col-sm-5 col-lg-4">
                    <div class="footer-single-widget mb-50">
                        <div class="footer-logo">
                            <a href="#"><img src="img/logo.png" alt="Image" /></a>
                        </div>
                        <div class="f-add-info mt-30">
                            <p>Location - <span>NC State</span></p>
                            
                        </div>
                        <div class="footer-socila-icon">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <!-- Contact Form -->
                        <div class="subscribe-form-area d-flex align-items-center mt-50">
                            <input type="email" class="form-control" placeholder="info@mail.com">
                            <button type="submit" class="btn"><i class="bi bi-send"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7 col-lg-8">
                    <div class="row">
                        <!-- Footer Widget -->
                    


                      

            </div>
        </div>

        <!-- Copy Right Area -->
        <div class="copy-right-area">
            <div class="container">
                <div class="row">
                    <!-- Copy Content -->
                    <div class="col-md-6">
                        <div class="copy-right-content-text">
                            <p>Team UnityVision</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="copy-right-content-text">
                            <ul class="d-flex flex-wrap justify-content-end">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copy Right Area -->
    </div>
    <!-- Footer Contact Area -->

    <!-- JS here -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/aos.js"></script>

    <!-- Custom js-->
    <script src="js/main-menu.js"></script>
    <script src="js/main.js"></script>

</body>

</html>